* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.principal {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-areas: 
    "checkbox"
    "main";
}

.checkbox-container {
    grid-area: checkbox;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 77, 183);

}
label {
    transition: .3s ease;
}
label:hover {
    transform: scale(1.1);
}

.animacion-trigger {
    display: none;
}

.wally-container{
    grid-area: main;
    background-image: url('https://res.cloudinary.com/dezwpnks0/image/upload/v1715650162/festival-wheres-waldo_cngyt6.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    filter: brightness(0);
    position: relative;
}

.animacion-trigger:checked ~ .wally-container {
    animation: container 2s forwards;
}
.animacion-trigger:checked ~ .wally-container div > img {
    animation-fill-mode: forwards;
    animation-play-state: paused;
}


.animacion-trigger:not(:checked) ~ .wally-container {
    animation: container-off 2s forwards;
}

.wally {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wally >img {
    transform: scale(4%);
    animation: wally 8s infinite;
    transition: .3s ease;
    
}

.wally img:hover {
    transform: scale(8%);
}

.btn {
    width: 100px;
}

@keyframes wally {
    0% {
        margin-top: -50vh;
        margin-left: -50vw;
    }
    25% {
        margin-top: 50vh;
        margin-left: -50vw;
        margin-bottom: -30vh;
    }
    50% {
        margin-top: 50vh;
        margin-right: -50vw;
        margin-bottom: -30vh;
    }
    75% {
        margin-top: -50vh;
        margin-left: 0;
        margin-right: -50vw;
        margin-top: -50vh;
    }
    100% {
        margin-right: 0;
        margin-left: -50vw;
        margin-top: -50vh;
    }
}

@keyframes container-off {
    from {
        filter: brightness(1);
    }
    to {
        filter: brightness(0);
    }
}


@keyframes container {
    from {
        filter: brightness(0);
    }
    to {
        filter: brightness(1);
    }
}
@media (max-width: 1200px){
   .wally > img {
    transform: scale(2.3%);
   }
}